.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 18px;
}

.login-page .home-dir{
  margin-bottom: 18px;
}

.login-page .home-dir span{
  background-image: url(https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png);
  background-size: 400px;
  background-repeat: repeat-x;
  background-position: -5px -130px;
  width: 103px;
  height: 31px;
  display: inline-block;
}

.login-page .login-form {
    border-radius: 3px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 25px;
    padding-right: 25px;
}

.login-page h1 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

.login-page .error-message {
    color: rgb(230, 16, 16);
    font-size: 10px;
    font-weight: 400;
}

.login-page p {
    font-size: 13px;
    font-weight: 750;
    margin-bottom: 0;
}

.login-page .login-input {
    flex: 1;
    width: 320px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: grey;
    outline: none;
}
.login-page .login-input:focus {
    border: orange;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px #f0c14b;
}


.login-page .login-form .form button {
    border-radius: 3px;
    border-style: solid;
    border-color: #a88734;
    border-width: 1px;
    background: linear-gradient(white, 10%, #f0c14b);
    width: 326px;
    border-radius: 3px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.login-page .login-form .form button:hover {
    filter: saturate(140%);
    filter: brightness(96%);
}
.login-page .login-form .form button:active {
    box-shadow: 0px 0px 10px #f0c14b;
}

.login-page .sign-up button {
    border-radius: 3px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 380px;
    border-radius: 3px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500;
}
.login-page .sign-up button:hover {
    filter: saturate(140%);
    filter: brightness(96%);
}

.login-page .sign-up button:active {
    box-shadow: 0px 0px 10px #f0c14b;
}

.login-footer{
  margin-top: 15px;
  margin-bottom: -18px;
  height: 44px;
  box-sizing: border-box;
  background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
}

.footer-documents{
  margin-bottom: -18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-footer::after{
  display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    content: "";
}
