header{
  display: flex;
  flex-direction: row;
  color: #0F1111;
  font-size: 14px;
  line-height: 20px;
}

header .left-container a{
  padding: 1px 8px 0px 6px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

header .left-container a img{
  height: 49px;
}

header .account-details{
  display: flex;
  flex-direction: row;
}

header .account-details .bold, header .account-details span{
  font-weight: bold;
}
