header{
  display: flex;
  flex-direction: row;
}

header .left-container a{
  padding: 1px 8px 0px 6px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

header .left-container a img{
  height: 49px;
}
