header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  background-color: #0F1111;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  box-sizing: border-box;
}

header p{
  margin: auto;
}
header a{
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #0F1111;
  transition: 1s;
}
header a:hover{
  border-color: #ffffff;
}

.caps{
  text-transform: capitalize;
}
header .left-container{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 3px;
}

header .left-container a{
  padding: 5px 8px 0px 6px;
  margin: 1px 1px 1px 11px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header .left-container .logo span{
  margin-top: 12px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
  background-size: 350px;
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
  background-repeat: repeat-x;
  cursor: pointer;
}

header .left-container .direction{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  position: relative;
}

/* header .left-container .direction:focus-within > .overlay{
  display: block;
}

header .left-container .direction:focus-within > .show{
  display: flex;
} */

header .left-container .direction .overlay{
  display: none;
  padding: 0px;
  margin: 0px;
  height: calc(100vh - 60px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.458);
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  transition: 0.7s;
  z-index: 1;
}

header .left-container .direction div .adress{
  display: flex;
}
header .left-container .direction  div p{
  margin-left: 0px;
}
header .left-container .direction  div span p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100px;
  margin-left: 0px;
}

header .left-container .direction  div p span{
  color: #CCCCCC;
}

header .left-container .direction div div{
  display: flex;
  flex-direction: column;
  line-height: 16px;
}
header .left-container .direction div span{
  background: none;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
  width: auto;
  height: auto;
}

header .search-bar{
  padding: 10px 4px 10px 3px;
  display: flex;
  flex-direction: row;
  max-height: 60px;
  box-sizing: border-box;
  max-width: 1000px;
  flex: 1 1 auto;
  min-width: 0px;
}

header .search-bar form{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 4px;
}

header .search-bar form:focus-within{
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}

header .search-bar #search-type{
  flex: 1 1 auto;
}

header .search-bar form input{
  color: #0F1111;
  font-size: 14px;
  min-height: 40px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

header .search-bar form #searchDropdownBox{
  height: 40px;
  border: 0px;
  border-right: 1px solid #cdcdcd;
  background-color: #f3f3f3;
  border-radius: 4px 0px 0px 4px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 12px;
}

header .search-bar form #searchDropdownBox:focus-visible{
  outline: 0px;
}

header .search-bar form #nav-search-submit-button{
  border-radius: 0px 4px 4px 0px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
  background-size: 350px;
  background-position: 0px -280px;
  width: 45px;
  height: 40px;
  background-repeat: repeat-x;
  cursor: pointer;
  background-color: #febd69;
  text-shadow: none;
  color: transparent;
}

header .search-bar form .width1 {
  width: 53px;
}

header .search-bar form #search-type{
  padding-left: 10px;
}

header .search-bar form input:focus-visible{
  outline: none;
}

header .search-bar form .width2 {
  width: auto;
}

header .account-details{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 3px;
}

header .account-details .languages{
  flex-direction: row;
  align-items: flex-end;
}

header .account-details .maps{
  background-image: url(https://m.media-amazon.com/images/S/sash/rzrQQdi0aRm6Dap.png);
  width: 24px;
  height: 18px;
  margin: 0px 2px 1px 0px;
  background-position: 0 -130px;
  color: #fff;
}

header .account-details .drop-arrow{
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
  margin: 0px 0px 4px 2px;
  border-width: 4px;
  border-bottom-width: 0px;
  border-color: transparent;
  border-top: 4px solid #a7acb2;
  border-style: solid;
}

header .account-details .account{
  display: grid;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
  position: relative;
  max-width: max-content;
}

header .account-details .account:hover{
  max-width: fit-content;
}

header .account-details .account:hover ul{
  opacity: 1;
}

header .account-details .account:hover > .overlay{
  display: block;
}

header .account-details .account:hover ul li{
  display: list-item;
}

header .account-details .account .span-flex{
  display: flex;
  flex-direction: row;
  min-width: max-content;
}

header .account-details .account .span-flex span{
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
  margin: 6px 0px 0px 5px;
  border-width: 4px;
  border-bottom-width: 0px;
  border-color: transparent;
  border-top: 4px solid #a7acb2;
  border-style: solid;
}

header .account-details .account .overlay{
  display: none;
  padding: 0px;
  margin: 0px;
  height: calc(100vh - 60px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.458);
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  transition: 0.7s;
  z-index: 1;
}

header .account-details .account .overlay:hover{
  display: none;
}

header .account-details .account div a{
  padding: 0px;
  margin: 0px;
  border: 0px;
  flex-direction: column;
}


header .account-details .account div{
  margin-top: 5px;
  cursor: pointer;
  padding-bottom: 20px;
}

header .account-details .account ul{
  opacity: 0;
  list-style: none;
  background-color: #ffffff;
  color: #555555;
  z-index: 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 15px 15px 15px;
  cursor: pointer;
  transition: opacity 0.7s;
}

header .account-details .account ul li{
  display: none;
}

header .account-details .account ul h4{
  margin: 10px 0px 17px 0px;
}

header .account-details .account ul a{
  border:0px;
  padding: 0px 0px 15px 0px;
  color: #555555;
  transition: 0s;
}

header .account-details .account ul a:hover{
  text-decoration: underline;
  color: #df7f35;
}

header .account-details .returns{
  align-items: center;
  min-width: max-content;
}

header .account-details .account p, header .account-details .returns p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
  font-size: 12px;
  font-weight: 400;
}

header .account-details .bold{
  font-size: 14px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
}

header .account-details a{
  display: flex;
  text-decoration: none;
  padding: 3px 8px 11px 8px;
  line-height: 14px;
  cursor: pointer;
  color: #ffffff;
}

header .account-details .cart{
  align-items: flex-end;
  margin-right: 3px;
  padding-bottom: 17px;
}

header .account-details .cart span{
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
  background-size: 350px;
  background-position: -218px -337px;
  width: 41px;
  height: 28px;
  background-repeat: repeat-x;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
}

header .account-details .cart p{
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin-bottom: 0px;
  margin-top: auto;
}
header .account-details .cart span p{
  position: absolute;
  color: #F08804;
  margin-top: 0px;
  margin-bottom: auto;
  font-size: 15px;
  line-height: 16px;
  top: -4px;
  right: 13px;
}
